*{
    margin: 0;
    padding: 0;
}
header{
        background-color: #295ec1;
        height: 85px;
        
    }
    nav ul li {
        display: inline-block;
        list-style: none;
        margin-left: 25px;
        margin-right: 25px;
        padding-bottom: 20px;
        padding-top: 30px;
        
    }
    
    a{
        color: aliceblue;
        font-size: 20px;
        
    }
    
    .home{
        border-style:  dotted;
    }

    .about{
        border-style: double;
    }

    .contact{
        border-style: groove;
    }

    .blog{
        border-style: ridge;
    }

    .login{
    
        border-style: dashed;
    }